

<%= form_for @user do |f| %>
  <p>
    <%= f.label :user_name %>
    <%= f.text_field :user_name%>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password%>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<h2>URL Helper Form!!!</h2>
<%= button_to "New", action: "new" %>
